{% extends 'base.html' %}
{% load static %}
{% block title %} Menu {% endblock title %}
{% block content %}


<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="{% url 'home-page'%}" class="nav-item nav-link ">Home</a>
                        <a href="{% url 'about-page'%}" class="nav-item nav-link">About</a>
                        <a href="{% url 'service-page'%}" class="nav-item nav-link">Service</a>
                        <a href="{% url 'menu-page'%}" class="nav-item nav-link active">Menu</a>
                        <a href="{% url 'contact-page'%}" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Menu Start -->
       <!-- menu.html -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                {% for category in categories %}
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#category-{{ category.id }}">
                        <div class="ps-3">
                            <h6 class="mt-n1 mb-0">{{ category.name }}</h6>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for category in categories %}
                <div id="category-{{ category.id }}" class="tab-pane fade show p-0 {% if forloop.first %}active{% endif %}">
                    <div class="row g-4">
                        {% for menu_item in category.menu_items.all %}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="{{ menu_item.image.url }}" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{ menu_item.name }}</span>
                                        <span class="text-primary">{{ menu_item.price }} $</span>
                                    </h5>
                                    <small class="fst-italic">{{ menu_item.description| safe | truncatewords:10 }}</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

        {% endblock content %}
